
html, body, #root, .ant-layout {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.head{
    height: 60px;
    line-height: 60px;
    background-color: #2D9CD2;
}
.logo {
    padding: 15px 0px 0px 20px;
    float: left;
}

.exit {
    margin: 0px 30px 0px 0px;
    float: right;
    font-size: 14px;
    color: #fff;
}
.refresh-time{
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #333;
    height: 50px;
    line-height: 50px;
    /*background-color: #e6e6e6;*/
}
.table{
    margin-top: 0px;
    width: 100%;
}

.table .ant-table-thead tr th{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-bottom: 2px #ccc solid;
}
.addLine{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border:1px #e6e6e6 solid;
    margin-top: 15px;
}
.addLine .item1{
    width: 130px;
    border-right: 1px #ccc solid;
    float: left;
    align: center;
    height: 100%;
    margin:0 auto;
}
.addLine .item1 img{
    margin: 10px 0px 0px 50px;
}
.addLine .item {
    line-height: 50px;
    float: left;
    font-size: 16px;
}
.addLine img{
    margin: 15px 10px 0 30px;
    float: left;
}

/*表格*/
.editable-cell {
    position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
    padding-right: 24px;
}

.editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
}

.editable-cell-icon {
    line-height: 18px;
    display: none;
}

.editable-cell-icon-check {
    line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
    display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #108ee9;
}

.editable-add-btn {
    margin-bottom: 8px;
}
.ant-table-tbody tr td {
    background-color: #fff;
    color: #333;
    font-size: 14px;
}
.ant-table-tbody tr td {
    text-align: center;
}