/* login */
.login-bg{
    background:url(../img/bg-login.jpg) no-repeat;
    background-size:cover;

    height: 100vh;
    padding-top: 13%;
}
.login-tbl{
    color:#fff;
    width:360px;
    /*background:#fff;*/
    margin: auto;
    padding:40px 30px;
    border-radius:15px; /*圆角*/
    -moz-border-radius:15px; /*圆角-火狐*/
    -webkit-border-radius:15px; /*圆角-谷歌*/
    /*background:rgba(255, 255, 255, 0.9); !*透明度*!*/
    /*filter:Alpha(opacity=90);*/
    /*box-shadow: 2px 5px 8px #333846; !*水平距离，垂直距离，模糊距离，阴影颜色*!*/
    text-align: center;

    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.73;
    /*opacity: 0.8;*/
    background-image: url("../img/bg-login-box.png");
}

.login-tbl form input, button{
    font-family: Microsoft YaHei, verdana;
    font-size:14px;
    color: #383d4b;
}

.login-tbl form input{
    width:100%;
    height:30px;
    text-indent:10px;
    background:#fff;
    border:solid 1px #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-top: 20px;
}

.login-btn{
    font-size:14px;
    color:#fff;
    background:#FBA71A;
    width:100%;
    height:35px;
    line-height:35px;
    border:none;
    cursor:pointer;
    /*圆角*/
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-top:15px;
}
.login-btn:hover, .login-btn:active{
    background:#FB7E1A;
}

.login-err{
    margin-top: 20px;
    color: red;
}

.logout {
    color:#00F;
    text-decoration:underline;
    cursor:pointer
}